name: Python - Build & Test

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [
          '3.9',
          '3.10',
          '3.11',
          '3.12',
          '3.13',
          'pypy3.9',
          'pypy3.10',
        ]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .

    - name: Check formatting
      uses: psf/black@stable
      with:
        options: "--check --verbose"
        src: "."

    - name: Run tests
      run: |
        pip install pytest pytest-asyncio
        pytest
